@using Marketplace.Components.Pages
@using static Marketplace.Components.Pages.Home
@using MudBlazor

<MudCard Elevation="0" Class="offer-card">
    <MudCardContent>
        <div class="d-flex">
            <MudAvatar Square="true" Class="offer-avatar mr-3" Src="@Offer.ImageUrl" />
            <div class="d-flex flex-grow-1">
                <div class="flex-grow-1">
                    <p class="offer-title">@Offer.Title</p>
                    <p class="offer-provider">@Offer.Provider</p>
                    <div class="mt-1 offer-category-tag">@Offer.SubCategory</div>
                    <div class="d-flex align-center mt-2">
                        <MudIcon Icon="@Icons.Material.Filled.Star" Class="mr-1 rating-icon" />
                        <p class="rating-text">@Offer.Rating.ToString("F1")</p>
                        <p class="ml-1 rating-count">(@Offer.RatingCount)</p>
                    </div>
                    <div class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.LocationOn" Class="mr-1 info-icon" />
                        <p class="info-text">@Offer.DistanceKm km</p>
                    </div>
                    <div class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.Schedule" Class="mr-1 info-icon" />
                        <p class="info-text">Zatvára sa o @Offer.ClosesAt</p>
                    </div>
                </div>
                <div class="d-flex flex-column align-end justify-space-between">
                    <MudIconButton Icon="@Icons.Material.Filled.ShoppingBasket" OnClick="@(() => OnOrderClick.InvokeAsync(Offer))" Color="Color.Primary" Class="basket-icon-btn" />
                    <MudText Class="price-text">@Offer.Price</MudText>
                </div>
            </div>
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Parameter, EditorRequired] public Offer Offer { get; set; }
    [Parameter] public EventCallback<Offer> OnOrderClick { get; set; }
}
